<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <add key="WebUrl" value="http://217.218.67.231" />
    <add key="SnapEngine" value="C:\FILES\TMP\CutyCapt.exe" />
    <add key="Thumbnail" value="C:\FILES\PROJECTS\Press\Newtheme\000\b4\Website Vole\Website Final Project folder\(Footage)\Footage\web page 01.jpg" />
    <add key="AeRenderPath" value="C:\Program Files\Adobe\Adobe After Effects CC\Support Files\aerender.exe" />
    <add key="OutputPath" value="c:\files\tmp\" />
    <add key="AeProjectFile" value="C:\FILES\PROJECTS\Press\Newtheme\000\b4\Website Vole\Website Final Project folder\Website Final Project.aep" />
    <add key="Composition" value="Final Comp" />
    <add key="OutPutFileName" value="WebNew" />
    <add key="TimeScheduleMinute" value="47" />
    <add key="ScheduleDestFileName" value="c:\Files\f\OutPut\ComingUp\" />
  </appSettings>
</configuration>